<div class="footer">
  <div class="container">
    <img src="assets/logo_white.png" class="brand">
    <table class="mn-table">
      <tbody>
        <tr>
          <td><a>WORK</a></td>
          <td><a>MEDIA</a></td>
          <td rowspan="2"><a><i class="fa fa-chevron-circle-up"></i></a></td>
        </tr>
        <tr>
          <td><a>ABOUT</a></td>
          <td><a>CAREERS</a></td>
          <td></td>
        </tr>
        <tr>
          <td><a>SERVICES</a></td>
          <td><a>CONTACT</a></td>
          <td><span>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
          </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
