
<div class="row">
  <app-slideshow ></app-slideshow>
</div>
<div class="row is-flex">
  <div class="col-md-8 mainText">
    The Minimalist is a design, digital and advisory firm.
    A global thought leader in the making.
  </div>
  <div class="col-md-4" style="margin: auto;">
    <ul class="secondaryText">
      <li><a>View&nbsp;Services</a></li>
      <li><a>Contact&nbsp;Us</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <app-gallery></app-gallery>
</div>
<div class="moreProjects">See More Projects</div>

